@CHARSET "UTF-8";
@import url("https://fonts.google.com/specimen/Indie+Flower");
body{
	background-image: url("../images/images.jpg");
	 background-size: cover;
	font-family:"Indie Flower" ;
	
}

.navbar-default{
	float:right;
	background:transparent;	
	border:none;
	
}

 .horizontal-collapse {
 	background:transparent;
 	display:inline;
 
 }
.navbar-collapse.in {
    overflow-y: hidden;
	background:transparent;
  }
 .navbar-collapse.collapse {
    overflow-y: hidden;
	background:transparent;
  }
.navbar-brand{
	font-size:18px;
	font-weight:bold;
	color:#337AB7 !important;
	background:transparent;
  	
}

  .elegant-aero {
	 margin-left:auto;
	 margin-right:auto;
	 margin-top:5px;
	 width:40%;
	 background: transparent;
	 border:2px solid  #337AB7;
	 border-radius:5px;
	 padding: 15px 20px 20px 20px;
	 font-size: 12px;

}

.elegant-aero #username , .elegant-aero #password , .elegant-aero #passRepeated ,  .elegant-aero #userEmail{
	width:95%;
	margin:15px auto;
	color: white;
	display:block;
}


.elegant-aero input[type="text"], .elegant-aero input[type="password"] , .elegant-aero input[type="email"]{
  display:block;
  color: #2B6046;
  width: 99%;
  padding: 0px 0px 0px 5px;
  border:none;
  background: transparent;
  outline: 0;
  border-bottom:1px solid white;
  font-size:1.4em;
  font-weight:bold;
  margin-bottom:5px;
  margin-top:5px;  
  text-align:center;
  
}
.elegant-aero input:focus{
	
}
.elegant-aero input:-webkit-autofill {
    background-color: #FAFFBD !important;

}
div{
  display:inline-block;
  vertical-align:top;
  color: red;
  margin:6px auto;
  width:95%;
}
.caption{
	display:block;
	font-size:1.8em ;
	width:50%;
	color:blue;
	margin:10px auto;
}

.navbar-collapse .active {
	background-color:#337AB7;
	opacity:1;	
}
button {
	margin-bottom:5px;
}
.elegant-aero .btn-arrow-left {

	position: relative;
    padding-left: 18px;
    padding-right: 18px;
   	padding-right: 36px;
}
.elegant-aero #emailBtn{
	position:relative;
	width:100px;
	margin:10px 200px;
}

.logo {
	height: 48px; 
	text-align: center;
}

.userInfo{
	height: 48px; 
	text-align: center;
}
.middle {
	height: 50px; 
	border: 1px solid black;
	border-radius:5px;
}

.mainMain {
	margin-top: 10px;
	
}
.leftMain{
	
	border: 1px solid black;
	height: 500px;
	border-radius: 5px;
	background-color:grey;
	opacity:0.7;
}
.rightMain{
	border: 1px solid black;
	height: 500px;
	border-radius: 5px;
	background-color:grey;
	opacity:0.7;
}
 ul li {
 	list-style-type: none;
 }
 .bar{
 	height:50px;
 	border:1px solid black;
 	border-radius:5px;
 }
 .uploadFile{
 	width:200px;
 	height:100px;
 border:1px solid blue;
 }
 