@CHARSET "UTF-8";
@import url("https://fonts.google.com/specimen/Indie+Flower");
body{
	background: url("../images/newDesk.jpg") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family:"Indie Flower" ;
}

.navbar-default{
	float:right;
	background:transparent;	
	border:none;
	box-shadow: none;	
}

 .horizontal-collapse {
 	background:transparent;
 	display:inline;
 }
.navbar-collapse.in {
    overflow-y: hidden;
	background:transparent;
  }
 .navbar-collapse.collapse {
    overflow-y: hidden;
	background:transparent;
  }
.navbar-brand{
	font-size:18px;
	font-weight:bold;
	color:#337AB7 !important;
	background:transparent;
  	
}

  .elegant-aero {
	 margin-left:auto;
	 margin-right:auto;
	 margin-top:5px;
	 width:40%;
	 background: transparent;
	 border:2px solid  #337AB7;
	 border-radius:5px;
	 -webkit-border-radius:5px;
	 -moz-border-radius:5px;
	 padding: 15px 20px 20px 20px;
	 font-size: 12px;

}

.elegant-aero #username , .elegant-aero #password , .elegant-aero #passRepeated ,  .elegant-aero #userEmail{
	width:95%;
	margin:15px auto;
	color: white;
	display:block;
}


.elegant-aero input[type="text"], .elegant-aero input[type="password"] , .elegant-aero input[type="email"]{
  display:block;
  color: #2B6046;
  width: 99%;
  padding: 0px 0px 0px 5px;
  border:none;
  background: transparent;
  outline: 0;
  border-bottom:1px solid white;
  font-size:1.4em;
  font-weight:bold;
  margin-bottom:5px;
  margin-top:5px;  
  text-align:center;
  
}
.elegant-aero input:focus{
	
}
.elegant-aero input:-webkit-autofill {
    background-color: #FAFFBD !important;

}
div{
  display:inline-block;
  vertical-align:top;
  color: red;
  margin:6px auto;
  width:95%;
}
.caption{
	display: block;
	font-size: 1.8em ;
	width: 50%;
	color: #5483B7;
	font-weight: bold;
	margin: 10px auto;
}

.navbar-collapse .active {
	background-color: #337AB7;
	opacity: 1;	
}
button {
	margin-bottom: 5px;
}
.elegant-aero .btn-arrow-left {
	position: relative;
    padding-left: 18px;
    padding-right: 18px;
   	padding-right: 36px;
}
.elegant-aero #emailBtn{
	position: relative;
	width: 100px;
	margin: 10px 200px;
}

.logo {
	height: 48px; 
	text-align: center;
}

.userInfo{
	height: 48px; 
	text-align: center;
}
.middle {
	height: 50px; 
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	background-color: white;
}

.mainMain {
	margin-top: 10px;
}
.expCol {
	color: #337ab7;
}
.leftMain{
	height: 500px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	background-color: white;
	opacity: 0.7;
	text-align: left;
	overflow: scroll;
}

@media all and (max-width: 767px) {
    .leftMain {
        display: none;
    }
}

.rightMain{
	height: 500px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	background-color: white;
	opacity: 0.7;
	overflow: scroll;
}
 ul li {
 	list-style-type: none;
 }
 .bar{
 	height: 50px;
 	border: 1px solid black;
 	border-radius: 5px;
 	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
 }
 .uploadFile{
 	width: 200px;
 	height: 100px;
 }
.wrapper { 
	border: 1px solid black;
}

.header {
	height: 50px; 
	border: 1px solid purple;
	margin-top: 15px;
}

.logo {
	height: 48px; 
	text-align: center;
}

.userInfo{
	height: 48px; 

	text-align: center;
}

.userButton {
	margin: 6px auto;
}

#expand-collapse-all{
	text-align: center;
}

.mainMain {
	margin-top: 10px;
}

#menu ul li {
    display: inline-block;
    padding: 5px 15px 5px 15px;
    border-left: 2px solid grey;
}

ul {
	padding: 5px;
}

#menu ul li:first-child {
    border-left: none;
}

li {
    list-style-type: none;
}

.icon {
    display: block;
    float: left;
    width: 16px;
    height: 16px;`
    margin:0;
    padding:0;
}
 .leftMain .expanded {
    background-image: url('../images/expanded.png');
    margin:0;
    padding:0;
    float:left;
}
.leftMain .collapsed {
    background-image: url('../images/collapsed.png');
     margin:0;
     padding:0;

}

.label {
    color: green;
    margin:0;
     padding:0;
}
.label.folder {
    color: darkmagenta;
    margin:0;
     padding:0;
}

ul .tree-drag > div > span.label {
     background-color: lightsalmon;
     margin: 0;
     padding: 0;
          float: left;
}
.tree-drag-over > div > span.label {
    background-color: darkseagreen;
    margin: 0;
    padding: 0;
    float: left;
}
.tree{
	width: 35%;
}
.btn-file {
    position: relative;
    overflow: hidden;
    background: transparent;
    border-color: transparent;
   	-webkit-box-shadow: none;
   	box-shadow: none;
   	-moz-box-shadow: none;
   	width:100%;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: transparent;
  	cursor: inherit;
    display: block;
    -webkit-box-shadow: none;
   	box-shadow: none;
   	-moz-box-shadow: none;
   	 width:100%;
}
  .btn-file:hover{
	background: transparent;
    border-color: transparent;
   	-webkit-box-shadow: none;
   	box-shadow: none;
   	-moz-box-shadow: none;
  
  }
.btn-file input[type=file]:active:focus {
    background: transparent;
    border-color: transparent;
   	-webkit-box-shadow: none;
   	box-shadow: none;
   	-moz-box-shadow: none;
}
.addForm{
	 position: relative;
     z-index: 1;
     top: -400px;
}

.addFile {
	position: relative;
     z-index: 1;
     top: -400px;
}
.close {
	float: right;
}
.close:hover {
	color: red;
}



.elegant-aero .form-group .fileUplaod{
		
}

.leftMain::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}

.leftMain::-webkit-scrollbar {
	width: 10px;
	background-color: #F5F5F5;
}

.leftMain::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, rgb(122,153,217)),
									   color-stop(0.72, rgb(73,125,189)),
									   color-stop(0.86, rgb(28,58,148)));
}

.rightMain::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}

.rightMain::-webkit-scrollbar {
	width: 10px;
	background-color: #F5F5F5;
}

.rightMain::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, rgb(122,153,217)),
									   color-stop(0.72, rgb(73,125,189)),
									   color-stop(0.86, rgb(28,58,148)));
}