<div class="container-fluid">
	<div class="header col-sm-12">
		<div class="logo col-sm-2 col-xs-12"><img class="logoPic" src="assets/images/logo.jpg" alt="logo"></div>
		<div class="col-sm-2 col-sm-offset-9 col-xs-6 dropdown">
			<button class="btn btn-info dropdown-toggle col-lg-9" type="button" data-toggle="dropdown">User <span class="caret"></span></button>
			<ul class="dropdown-menu col-xs-2"  style="text-align: center">
				<li><a href="#">Shared files</a></li>
				<li><a href="#main/edit">Edit Profile</a></li>
				<li><a href="#">Log Out</a></li>
			</ul>
		</div>
	</div>
	<div data-ng-class="{'editPassword': true}" >
		<form  data-ng-class="{'elegant-aero':true , 'form-group':true , 'addName':true}" id= "editPass" data-ng-submit="sendNewPass()" novalidate autocomplete="off">
		  		<div data-ng-class ="{'caption':true}">Change password</div>
		  		<div id = "oldPassword">
			  	<div data-ng-class="{'input-group':true, 'form-group':true ,'has-error':!isValidOlPassword(), 'has-success':isValidOlPassword()}">
					<input name = "oldPassword" type="password" data-ng-class="{'form-control':true , 'form-control-danger':!isValidOlPassword(),'form-control-success':isValidOlPassword()}"  placeholder="Enter old password" data-ng-model="info.oldPassword" required>
				</div>	
			</div>
		  	<div id = "password">
			  	 <div data-ng-class="{'input-group':true, 'form-group':true ,'has-error':!isValidPassword(), 'has-success':isValidPassword()}">
					<input name = "password" type="password" data-ng-class="{'form-control':true , 'form-control-danger':!isValidPassword(),'form-control-success':isValidPassword()}"  placeholder="Enter new password" data-ng-model="info.password" required>
				</div>	
			</div>
				<div id = "passwordRepeated">
			  	 <div data-ng-class="{'input-group':true, 'form-group':true ,'has-error':!isValidRepeated(), 'has-success':isValidRepeated()}">
					<input name = "repeatedPassword" type="password" data-ng-class="{'form-control':true , 'form-control-danger':!isValidRepeated(),'form-control-success':isValidRepeated()}"  placeholder="Repeat your password" data-ng-model="info.passRepeated" required>
				</div>	
			</div>
			<button type = "submit" data-ng-class = "{ 'btn': true, 'btn-success': true , 'btn-lg':true , 'disabled':isValidInfo()}">Ready?</button>
	 	</form>
	</div>
	<div data-ng-model = "show" data-ng-if = show>
		<p style="font-weight:bold ; font-size:18px ; color: green"><span>Successfully changed password!You will be redirected in {{iterator}} seconds.</span></p>
	</div>
	<div data-ng-model = "showErr" data-ng-if = showErr>
		<p style="font-weight:bold ; font-size:18px ; color: red"><span>Wrong old password!</span></p>
	</div>
