<div class="container-fluid">
	<div class="header col-sm-12">
		<div class="logo col-sm-2 col-xs-12"><img class="logoPic" src="assets/images/logo.jpg" alt="logo" style="padding-bottom: 10px;"></div>
		<div class="col-sm-2 col-sm-offset-8 col-xs-6 col-xs-offset-3 dropdown" style="padding-top: 20px;">
			<button class="btn btn-info dropdown-toggle col-lg-9 col-sm-12" type="button" data-toggle="dropdown">{{profile}} <span class="caret"></span></button>
			<ul class="dropdown-menu col-xs-2"  style="text-align: center">
				<li><a href="#">Shared files</a></li>
				<li><a href="#main/edit">Edit Profile</a></li>
				<li><a href="#">Log Out</a></li>
			</ul>
		</div>
	</div>
	<div class="col-xs-12">
		<form class="col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3" data-ng-class="{'form-group':true, 'elegant-aero':true}" id= "editPass" data-ng-submit="sendNewPass()" novalidate autocomplete="off">
		  		<div data-ng-class ="{'caption':true}" style="width: 100%; margin: 10px auto;">Change password</div>
		  		<div class="col-xs-12" id = "oldPassword">
			  	<div class="col-xs-12" data-ng-class="{'input-group':true, 'form-group':true ,'has-error':!isValidOlPassword(), 'has-success':isValidOlPassword()}">
					<input class="col-xs-12" name = "oldPassword" type="password" data-ng-class="{'form-control':true , 'form-control-danger':!isValidOlPassword(),'form-control-success':isValidOlPassword()}"  placeholder="Enter old password" data-ng-model="info.oldPassword" required>
				</div>
			</div>
		  	<div class="col-xs-12" id = "password">
			  	 <div class="col-xs-12" data-ng-class="{'input-group':true, 'form-group':true ,'has-error':!isValidPassword(), 'has-success':isValidPassword()}">
					<input class="col-xs-12" name = "password" type="password" data-ng-class="{'form-control':true , 'form-control-danger':!isValidPassword(),'form-control-success':isValidPassword()}"  placeholder="Enter new password" data-ng-model="info.password" required>
				</div>
			</div>
				<div class="col-xs-12" id = "passwordRepeated">
			  	 <div class="col-xs-12" data-ng-class="{'input-group':true, 'form-group':true ,'has-error':!isValidRepeated(), 'has-success':isValidRepeated()}">
					<input class="col-xs-12" name = "repeatedPassword" type="password" data-ng-class="{'form-control':true , 'form-control-danger':!isValidRepeated(),'form-control-success':isValidRepeated()}"  placeholder="Repeat your password" data-ng-model="info.passRepeated" required>
				</div>
			</div>
			<button type = "submit" data-ng-class = "{ 'btn': true, 'btn-success': true , 'btn-lg':true , 'disabled':isValidInfo()}" style="margin-bottom: 10px;">Ready?</button>
	 	</form>
	</div>
	<div data-ng-model = "show" data-ng-if = show>
		<p style="font-weight:bold ; font-size:18px ; color: green"><span>Successfully changed password!You will be redirected in {{iterator}} seconds.</span></p>
	</div>
	<div data-ng-model = "showErr" data-ng-if = showErr>
		<p style="font-weight:bold ; font-size:18px ; color: red"><span>Wrong old password!</span></p>
	</div>
</div>
