<div data-ng-controller = "loginController" class="container-fluid">
	<form name="log" class="col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3" data-ng-class="{'form-group':true ,'elegant-aero':true}" data-ng-submit="login()" novalidate autocomplete="off">
		<div data-ng-class ="{'caption':true}" style="width: 100%; margin: 10px auto;">Log In</div>
		<div class="col-xs-12" id = "username">
			<div class="col-xs-12" data-ng-class="{'input-group':true ,'form-group':true ,'has-error':!isValidName() , 'has-success':isValidName()}">
				<input class="col-xs-12" type="text" name="username" data-ng-class="{'form-control':true , 'form-control-danger':!isValidName(), 'form-control-success':isValidName()}" placeholder="Enter username" data-ng-model="user.name"  required >    
			</div>
		</div>
		<div class="col-xs-12" id = "password">
			<div class="col-xs-12" data-ng-class="{'input-group':true, 'form-group':true ,'has-error':!isValidPassword(), 'has-success':isValidPassword()}">
				<input class="col-xs-12" name = "userpass" type="password" data-ng-class="{'form-control':true , 'form-control-danger':!isValidPassword(),'form-control-success':isValidPassword()}"  placeholder="Enter password" data-ng-model="user.password" required>
			</div>	
		</div>
		<button type = "submit" data-ng-class = "{'btn': true, 'btn-primary': true , 'btn-lg':true , 'disabled':isValid()}" data-ng-attr-id="sumbit">Submit</button>
	  	<div><a href="#/email" style="font-weight:bold ; font-size:16px" >Forgotten password</a></div>
	</form>
		
	<div data-ng-model = "show" data-ng-show = show>
		<p style="font-weight:bold ; font-size:18px"><span>Wrong username or password!</span></p>
		<div><a href="#/email" style="font-weight:bold ; font-size:18px" >Did you forget your password?</a></div>
	</div>
</div>