<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Login</title>
	<script src="././node_modules/angular/angular.min.js"></script>
    <script src="././node_modules/angular-route/angular-route.min.js"></script>
    <script src="././node_modules/angular-messages/angular-messages.min.js"></script>



    <script src="././node_modules/angular-animate/angular-animate.min.js"></script>

    <link rel="stylesheet" href="././node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="././node_modules/bootstrap/dist/css/bootstrap-theme.css">
    <link rel="stylesheet" href="././node_modules/angular-ui-bootstrap/dist/ui-bootstrap-csp.css"/>
    <script src="././node_modules/angular-ui-bootstrap/dist/ui-bootstrap.js"></script>
    <script src="././node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>



    <script src="../app.js"></script>
    <script src="emailController.js"></script>
    <script src="../home/homeController.js"></script>
    
    <link rel = "stylesheet" type="text/css" href = "././assets/css/style.css">
  	<meta name = "viewport " content = "width=device-width , initial-scale =1">
  	
</head>
<body>
<form name="log" data-ng-controller = "loginController" class="form-group" data-ng-class="{'elegant-aero':true}" data-ng-submit="login()" novalidate autocomplete="off">
  	<div data-ng-class ="{'caption':true}" style = "color:white">Log in</div>
  	
  	<div id = "username">
		 <div data-ng-class="{'input-group':true ,'form-group':true ,'has-error':!isValidName() , 'has-success':isValidName()}">
		  	<div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
	  	 		<input type="text" name="username" data-ng-class="{'form-control':true , 'form-control-danger':!isValidName(), 'form-control-success':isValidName()}" placeholder="Enter username" data-ng-model="user.name"  required>    
		 </div>
	</div>
	<div data-ng-messages="log.username.$error">
	      <div data-ng-message="minlength">Minimal number of symbols is 5.</div>
	      <div data-ng-message="maxlength">Maximal number of symbols is 20.</div>
		  <div data-ng-message="pattern">Your username is invalid</div>
	 </div>
	 <div id = "password">
    	<div data-ng-class="{'input-group':true, 'form-group':true ,'has-error':!isValidPassword(), 'has-success':isValidPassword()}">
		  	<div class="input-group-addon"><span class= "glyphicon glyphicon-lock"></span></div>
  			  	<input name = "userpass" type="password" data-ng-class="{'form-control':true , 'form-control-danger':!isValidPassword(),'form-control-success':isValidPassword()}"  placeholder="Enter password" data-ng-model="user.password" required>
    	</div>	
    </div>
	 <div data-ng-messages="log.userpass.$error">
		 	<div data-ng-message="pattern">Your password is invalid</div>
	</div>
    <button type = "submit" data-ng-class = "{ 'btn': true, 'btn-primary': true , 'btn-lg':true , 'disabled':isValid()}" data-ng-attr-id="sumbit" data-ng-disabled=" !(log.userpass.$valid) || !(log.username.$valid) ">Submit</button>
  	<div > <a href="#/email" >Forgotten Password:</a></div>
  </form>
</body>
</html>